<!DOCTYPE html>
<html >


    <head>

        <!-- Meta -->
        <meta charset='UTF-8'>
        <title>Glitchr | VST Effects Sequencer</title>
        <meta name='keywords' content='glitchr, effects, sequencer, VST, Pure, Data, PureData, Patch, Audio'>
        <meta name='Description' content='Glitchr - An effects sequencer built with Pure Data and PD Pulp.'>
        <!-- Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
        <!-- Stlye -->
        <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css'>
        <link rel='stylesheet' href='css/style.css'>
 
    </head>